{% extends 'school/base.html' %}
{% load static %}

{% block css %}
 <!-- Custom styles for this template -->
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
<style>
        .row {
            margin-top: 80px;
        }

        .card {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .card-body {
            flex-grow: 1;
        }
    </style>

{% endblock %}

{% block content %}
<!-- Page Content -->
    <div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">School # 1</h1>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row">
                {% for  student in students %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                       <img src="{{ student.photo.url }}" class="img-fluid" alt="">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href=" {% url 'student_detail' student.id %} ">ФИО : {{ student.full_name }}</a>
                            </h4>
                            <h5>Год рождения: {{ student.date_of_birth }}</h5>
                            <h5>Класс: {{ student.grade }}</h5>
                            <p class="card-text">Адрес проживания: {{ student.address }}</p>
                        </div>
                        <form method="POST" action="{% url 'student_delete' student.id %}">
                            {% csrf_token %}

                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Dastan Oskonbaev 2023</p>
    </div>
    <!-- /.container -->
</footer>
{% endblock %}
